<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="/home/{{ data.curr_user_id }}">Team 2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home/{{ data.curr_user_id }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="about">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">	
	<header><h1><center>About Us</center></h1></header>
	<center>
	<table class='table table-bordered table-striped table-dark table-hover text-center'>
		<thead>
			<tr>
				<th>Person</th>
				<th>Name</th>
				<th>Roll NO</th>
			</tr>
		</thead>
		<div>
		<br>
		<tbody>
			<tr>
				<td><center><img src="https://www.idrbt.ac.in/PGDBT-SITE/images/201920/deepak.jpg" alt="Vishwesh" height="42" width="42"></center></td>
				<td>Vishwesh</td>
				<td>PGDBT201902</td>
			</tr>
			<tr>
				<td><center><img src="https://www.idrbt.ac.in/PGDBT-SITE/images/201920/sainadh.jpg" alt="Theja" height="42" width="42"></center></td>
				<td>Theja</td>
				<td>PGDBT201903</td>
			</tr>
			<tr>
				<td><center><img src="https://www.idrbt.ac.in/PGDBT-SITE/images/201920/sandeep.jpg" alt="Sandeep" height="42" width="42"></center></td>
				<td>Sandeep</td>
				<td>PGDBT201908</td>
			</tr>
			<tr>
				<td><center><img src="https://www.idrbt.ac.in/PGDBT-SITE/images/201920/naveen.jpg" alt="Naveen" height="42" width="42"></center></td>
				<td>Naveen</td>
				<td>PGDBT201911</td>
			</tr>
			<tr>
				<td><center><img src="https://www.idrbt.ac.in/PGDBT-SITE/images/201920/praveen.jpg" alt="Praveen" height="42" width="42"></center></td>
				<td>Praveen</td>
				<td>PGDBT201913</td>
			</tr>
			<tr>
				<td><center><img src="https://www.idrbt.ac.in/PGDBT-SITE/images/201920/tharun.jpg" alt="Tarun" height="42" width="42"></center></td>
				<td>Tarun</td>
				<td>PGDBT201916</td>
			</tr>
		</tbody>
	</table>
	<br>
</div>