<!-- <div class="auth-page"> -->
	<!-- <div class="container auth-container"> -->
		<!-- <div class="auth"> -->
			<br><br>
			<div class="container">
				<div class="col-md-6"  style="width:1000px; margin:0 auto;">
					<div class="card">
						<div class="card-header bg-info text-white text-center">
							Login
						</div>
						<div class="card-body">
							<div class="form-group">
		                        <b for="username">Username</b>
		                        <input type="username" 
		                            class="form-control" 
		                            id="username" 
		                            placeholder="Enter username" 
		                            ng-model="data.loginUsername">
		                    </div>
		                    <div class="form-group">
		                        <b for="password">Password</b>
		                        <input type="password" 
		                            class="form-control" 
		                            id="login-password" 
		                            placeholder="Enter password" 
		                            ng-model="data.loginPassword">
		                    </div>
							<button class="btn btn-success" ng-click="loginUser()">Login</button>
							<br>
							<a href="/register">Not a User? Click here to Register</a>
						</div>
					</div>   
				</div>
			</div>
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->