<div class="home-page">
    <!-- Home page header starts -->
    <!-- <div class="home-header">
        <p class="welcome-user">Welcome {{ data.username }}</p>
        <span class="logout-user" ng-click="logout()">
            <i class="fa fa-power-off" aria-hidden="true"></i>
        </span>        
    </div>
    <br> -->
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="/home/{{ data.curr_user_id }}">Team 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/{{ data.curr_user_id }}">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" href="about">About Us</a>
                </li> -->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <div class="nav-link">Welcome {{ data.username }}</div>
                </li>
                <li class="nav-item active">
                    <!-- <span class="logout-user" ng-click="logout()"> -->
                        <button class="btn btn-primary" ng-click="logout()">Logout</button>
                    <!-- </span> -->
                </li>
            </ul>
        </div>
    </nav>
    <!-- Home page header ends -->

    <!-- Home page body start -->
    <div class="home-body">
        <div class="row">
            <!-- Message Area Markup starts -->
            <div class="col-md-8">
                <div class="message-container">
                    <div class="card">
                        <div class="card-header bg-info text-white text-center">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span class="message-heading"> Chat history with 
                                <span ng-show="data.selectedFriendId !== null" ? true : false >{{data.selectedFriendName}} </span>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="message-list" style="height: 366px;">
                                <ul class="message-thread">
                                    <li ng-repeat="messagePacket in data.messages"
                                        ng-class="{ 'align-right' : alignMessage(messagePacket.fromUserId) } ">
                                        {{messagePacket.message}}
                                    </li>
                                </ul>
                            </div>
                            <br><br>
                            <div class="message-text">
                                <textarea id="message" 
                                    class="message form-control" 
                                    placeholder="Type and hit Enter" 
                                    ng-keydown="sendMessage($event)"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Message Area Markup ends -->

            <!-- Chat list Markup starts -->
            <div class="col-md-4">
                <div class="chat-list-container">
                    <div class="card">
                        <div class="card-header bg-info text-white text-center">
                            <i class="fa fa-list" aria-hidden="true"></i> <span >Chat list</span>
                            <button class="btn btn-warning float-right"><i class="fa fa-plus"></i> Create Group </button>
                        </div>
                        <div class="card-body">
                            <div class="chat-list">
                                <ul class="list-group" ng-if="data.chatlist.length > 0">
                                    <li class="list-group-item"
                                        ng-repeat="friend in data.chatlist"
                                        ng-click="selectFriendToChat(friend.id)"
                                        ng-class="{'active':friend.id == data.selectedFriendId}"
                                    >{{friend.username}}</li>
                                </ul>
                                <div class="alert alert-info" ng-if="data.chatlist.length === 0">
                                    <strong>No Users Available to Chat</strong>
                                </div>
                            </div> 
                        </div>    
                    </div>          
                </div>
            </div>
            <!-- Chat List Markup ends -->
        </div>
    </div>
    <!-- Home page body start -->
</div>