<!-- <div class="auth-page"> -->
	<!-- <div class="container auth-container"> -->
		<!-- <div class="auth"> -->
			<br><br>
			<div class="container">
				<div class="col-md-6"  style="width:1000px; margin:0 auto;">
					<div class="card">
						<div class="card-header bg-info text-white text-center">
							Register
						</div>
						<div class="card-body">
							<div class="form-group">
                                <label for="username">Username</label>
                                <input type="username" 
                                    class="form-control" 
                                    id="username" 
                                    placeholder="Enter username"
                                    autocomplete="off"
                                    ng-model="data.regUsername" 
                                    ng-keyup="initiateCheckUserName()" 
                                />
                                <div ng-show='data.usernameAvailable'>
                                    <br>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ data.regUsername }}</strong> Username is already taken.
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" 
                                    class="form-control" 
                                    id="reg-password" 
                                    placeholder="Enter password"
                                    ng-model="data.regPassword"
                                    ng-disabled="IsDisabled">
                            </div>
                            <button class="btn btn-primary" ng-click="registerUser()">Register</button>
							<a href="/" class="btn btn-warning float-right">Cancel</a>
						</div>
					</div>   
				</div>
			</div>
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->